/* Global Color Variables */
:root {
    --orange: #F98012;
    --baige: #FFE9D0;
}
/* Global styles*/
*, html,body {

    font-family: "Roboto", sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 2rem;
}
h2  {
    font-size: 1.5rem;
}
p {
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:visited {
    color: black;
}
a.current {
   color: var(--orange) !important;
    font-weight: bold;
}


.file-icon {
    max-width: 50px;
    object-fit: contain;
}

.block {
    display: block;
}

select {
    font-size: 1.25rem;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid var(--orange);
    margin-bottom: 10px;
}
select:focus {
    border: 2px solid var(--orange);
    outline: none;
}
select:active {
    border: 2px solid var(--orange);
    box-shadow: 0 0 5px 2px var(--orange);
}

input[type="file"] {
    border: none;
}
/* End OF Global Color Variables */
/* Forms */
.flex-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 450px;
}
label {
    font-size: 1.25rem;
    margin-bottom: 5px;
    text-align: center;
}
p {
    font-size: 1.25rem;
}
input {
    width: 75%;
    margin-bottom: 15px;
    font-size: 1.25rem;
    padding: 10px 20px;
    border: 0.5px solid gray;
    outline: none;
    margin-right: 15px;
}
form {
    display: flex;
}
textarea {
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 250px;
    resize: vertical;
    margin-bottom: 20px;
    padding: 10px 20px;

}

.admin textarea {
    width: 75%;
}

.admin input {
    margin: auto auto 10px;
}
input:focus {
    border-color: #fff;
    box-shadow: 0px 0px 15px var(--orange);
}

a:visited {
    color: initial;
}

.button, button{
    font-size: 1.25rem;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    outline: none;
    background-color: var(--baige);
    border: 2px solid var(--orange);
    box-shadow: 2px 2px 6px gray;
    display: block;
}

.button-tick {
    background-color: #fff;
    box-shadow: none;
    border: none;
    padding: 0;
    height: 36px;

}

.button-ticked {
    background-color: greenyellow;
}

.button-tick:hover, .button-tick:focus {
    background-color: greenyellow;
}

.button-ticked:hover, .button-ticked:focus {
    cursor: initial;
}

.button:hover, button:hover {
    font-size: 1.25rem;
    cursor: pointer;
    color: white;
    background-color: var(--orange);
    transition: all 0.5s;
}

.delete-btn {
    font-size: 1rem;
    padding: 5px 5px;
    background-color: var(--baige);
    border: 2px solid red;
    margin-left: 10px;
}
.delete-btn:hover {
    font-size: 1rem;
    background-color: red;
}
.form-submission-success {
    width: 100%;
    margin: 25px auto;
    text-align: center;
    border: 2px solid green;
    background-color: greenyellow;
    padding: 20px 10px;
}
.error {
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    background-color: rgba(255, 158, 158, 0.88);
    border: 2px solid red;
    margin-bottom: 10px;
    box-shadow: 2px 2px 6px #c4c4c4;
}

.error h3,.form-submission-success h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.error {
    width: 65%;
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
    border: 4px solid #f50c56;
    padding: 10px 20px;
    background-color: #fc92b4;
}
.hidden {
    display: none;
}
.error h3 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    color: black;
    font-weight: bold;
}
/* End of globals styles*/

/* Common css styles */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* End of common css styles*/

/* Components styles*/

/* Header styles */
header {
    font-size: 1rem;
    width: 100%;
    height: 6vh;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}
.nav-item{
    text-decoration: none;
    cursor: pointer;
}
.nav-item:hover{
    font-weight: bold;
}
a.nav-item-active, .nav-item-active {
    color: var(--orange);
    font-weight: bold;
}
.nav-item-dropdown {
    position: relative;
}
.nav-item-course-dropdown {
    display: none;
    position: absolute;
    width: 80px;
    top: 30px;
    left:50%;
    z-index: 999;
    background-color: #fff;
    border: 2px solid black;
    box-shadow: 2px 2px 8px #c4c4c4;
    text-align: center;
    transform: translateX(-50%);

}
.nav-item-course-dropdown a {
    display: block;
    padding: 10px 5px;
}
/* Footer styles */
footer {
    width: 100%;
    height: 5vh;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer div p {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

/* Views styles */

/* Index View */
.index-wrapper {
    min-height: 89vh;
    width: 50%;
    margin: 40px auto 0;
}
.index-wrapper h1{
    text-align: center;
    background-color: var(--orange);
    padding: 10px 20px;
    padding: 10px 20px;
    box-shadow: 3px 3px 6px #c4c4c4;
    color: white;
    text-shadow: 2px 2px 4px black;
}
.index-wrapper .nav {
    justify-content: space-between;
    margin-top: 40px;
}
.index-wrapper .nav a {
    width: 40%;
    text-align: center;
    background-color: var(--orange);
    padding: 20px 30px;
    box-shadow: 3px 3px 6px #c4c4c4;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 2rem;
    border: 2px solid var(--orange);
}
.index-wrapper .nav a:hover {
    background-color: var(--baige);
    border: 2px solid var(--orange);
    color:black;
    transition: all 0.5s;
}
/* End of index view*/
/* Courses view*/


.course-info {
    width: 65%;
    background-color: var(--baige);
    padding: 10px;
    color: black;
    border: 2px solid var(--orange);
    box-shadow: 2px 2px 6px #c4c4c4;
    margin: 20px auto;
}
.course-info h2{
    text-align: center;
    margin: 20px 0px;
    font-weight: bold;
    font-size: 2rem;
}
.course-info p {
    width: 85%;
    margin: 0 auto;
}
.week-dropdown {
    width: 100%;
    text-align: center;
    border-right: 2px solid #F98012;
}
.week-dropdown h1 {
    margin-bottom: 40px;
}
.week-dropdown-list {
    font-size: 1rem;
    padding: 20px 0 0 0;
    margin: 0;
    border-top: 2px solid var(--orange);
}
.week-dropdown-list-item {
    list-style: none;
    margin-bottom: 5px;
    font-size: 1.2rem;
}
.courses-content-wrapper {
    position: relative;
    display: flex;
    padding-top: 12.5vh;
    min-height: 89.9vh;
}
.course-content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    min-width: 75%;
}
.course-content-container {
    margin-bottom: 50px;
}
.lecture-description, .lecture-resources {
    width: 60%;
    border-top: 2px solid black;
    padding: 40px 0;
}
.lecture-heading {
    margin-bottom: 20px;
    text-align: center;
}
.file-wrapper {
    display: flex;
    margin-bottom: 15px;
}
.file-name {
    margin-left: 30px;
    align-self: center;
}
.file-name a {
    color: black;
}
.file-name a:hover {
    text-decoration: underline;
}

.course-title-wrapper{
    display: flex;
    margin-bottom: 40px;
}
.complete-toggle-button {
    margin-left: 25px;
}
.progress-bar-wrapper {
    position: absolute;
    width: 40%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

}

.progress-bar-wrapper h2 {
    text-align: center;
    margin-bottom: 5px;
}
.progress-bar {
    height: 25px;
    background-color: #fff;
    border: 3px solid #c4c4c4;
}

.progress-bar-inner {
    background-color: var(--orange);
    height: 100%;
}

/* Login and SignupForm Styles */
.wrapper-center {
    width: 100%;
    min-height: 89vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro h2{
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.74);
}
.wrapper-center form input {
    width: 100%;
    margin-right: 0;
}
/* End of Login and Signup Form Styles */

/*assignments view */
.assignments-courses-list {
    grid-column-start: 1;
    border:  1px solid transparent;
}

.assignments-course-item {
    list-style: none;
    border:  1px solid transparent;
    color: black;
}

.assignments-assignment-titles {
    grid-column-start: 2;
    border:  1px solid transparent;
}

.assignments-assignment-titles-item {
    list-style: none;
    text-align: center;
    border:  1px solid transparent;
    color: black;
}

.assignments-assignment-dates {
    grid-column-start: 3;
    border:  1px solid transparent;
}

.assignments-assignment-resources {
    grid-column-start: 4;
    border:  1px solid transparent;
}

.assignments-assignment-resources-item {
    list-style: none;
    text-align: center;
    border:  1px solid transparent;
    color: black;
}

.assignments-assignment-file-upload {
    grid-column-start: 5;
    text-align: center;
    grid-template-column: max-content;
    border:  1px solid transparent;
}

.assignments-assignment-file-upload-item {
    list-style: none;
    display: flex;
    text-align: center;
    justify-content:center;
    border:  1px solid transparent;
    color: black;
}

.assignments-assignment-dates-item {
    list-style: none;
    text-align: center;
    border:  1px solid transparent;
    color: black;
}

.assignments {
    display: grid;
    /*grid-template-columns: 3;*/
    grid-column-gap: 0;
    background: whitesmoke;
    grid-row-gap: 2%;
}

.assignments-grid {
    text-align: center;
    width: 50%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 35px;
    /*grid-template-columns: 1;*/
    /*grid-template-rows: 2;*/
}


/* quizzes */

.quizzes-elements-grid {
    text-align: center;
    margin: auto;
    display: grid;
    /*grid-template-columns: 1;*/
    /*grid-template-rows: 2;*/
}

.quizzes {
    display: grid;
    background-color: whitesmoke;
}

.quizzes-list {
    margin: auto;
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
}

.quizzes-item {
    font-size: 1.5rem; 
    padding: 5%;  
}

.quizButton button {
    width: 100%;
}

/* quizzes page */

.quizzes-title {
    text-align: center;
    color: var(--orange);
}

.questions {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 0;
    background: whitesmoke;
    margin: auto;
    width: 50%;
}

.questions-item {
    border:  1px solid transparent;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#btn_submit {
    margin: auto;
    width: 10%;
}

.questions-item-question {
    border:  1px solid var(--orange);
    margin: 25px;
}

.questions-item, li {
    list-style: none;

}

.questions-item, ul {
    list-style: none;
}

ul {
    list-style: none;
}

/* Dashboard*/
/* tooltip class in dashboard.php*/

.wrapper {
    width: 70%;
    margin: 40px auto 0;
}

.wrapper h1 {
    margin-top: 50px;
}

.wrapper span {
    display: block;
    border: 2px solid var(--orange);
    background-color: var(--baige);
    padding: 20px 10px;
    font-size: 1.5rem;
    text-align: center;
}

.wrapper img{
    display: block;
    margin: 0 auto;
    width: 200px;
    border: 4px solid var(--orange);
    background-color: var(--baige);
    padding: 10px;
}
#facultyLink {
    margin: 20px 0;
    display: block;
    font-size: 2rem;
    text-align: center;
}
#facultyLink:hover,#facultyLink:focus {
    text-decoration: underline;
}
.intro {
    background-color: var(--orange);
    padding: 20px 10px;
    text-align: center;
    color: white;
    box-shadow: 3px 4px 7px #c4c4c4;
}

.dashboard-courses h1, .wrapper h1{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.dashboard-courses .grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 150px;
    row-gap: 20px;
    column-gap: 20px;
}
.dashboard-courses .grid-course{
    width: 100%;
    height: 100%;
    border: 2px solid var(--orange);
    box-shadow: 3px 3px 6px #c4c4c4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--baige);
}
.dashboard-courses h2 {
    color: black;
    text-shadow: 2px 2px 6px #c4c4c4;
    text-align: center;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext a{
    color: white;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 7px;
    /* Position the tooltip text  */
    position:absolute;
    z-index: 1;
    top: -5px;
    right: 65%;
}

.container {
    width: 70%;
    margin: 50px auto;
    background: whitesmoke;
    height: 900px;

}
.navigation-bar {
    background-color:#f1f1f1;
    width: 200px;
    height: inherit;
    float: left;
}
.navigation-content {
    text-align:center;
    padding: 10px;

}

.navigation-box{
    float: left;
    text-align: center;
    padding: 10px;
    font-family:sans-serif;
    padding-left: 30px;
}
.navigation-box .box {
    position: relative;
    width: calc(250px - 30px);
    height: calc(250px - 30px);
    background: #e76e34;
    float:left;
    margin: 30px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.navigation-box .box .icon{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height :100%;
    background: #f1a15c;
    transition :0.5s;
    z-index:1;
}
.navigation-box .box:hover .icon{
    top:20px;
    right:calc(50% - 40px);
    left :calc(50% - 40px);
    width:80px;
    height:80px;
    border-radius: 50%;
}
.navigation-box .box .icon .fa{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:80px;
    transition: 0.5s;
    color:black;
}
.navigation-box .box:hover .icon .fa{
    font-size: 50px;
}
.navigation-box .box .content{
    font-size: 25px;
    position :absolute;
    top:100px;
    height:calc(100% - 100px);
    text-align: center;
    padding:20px;
    box-sizing: border-box;
}
/* The navigation menu links */

.error-box{
    margin-top: 50px;
    position: absolute;
    margin-left: 850px;
    margin-right: 150px;
    border: 5px solid var(--orange);
    text-align: center;
}
.error-box p{
     color: red;
}
.error-box a{
    color: black;
}
.error-box a:hover{
    color: var(--orange);
}
.admin {
    margin: 0 auto;
    width: 80%;
    padding: 40px;
    /*background: whitesmoke;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin .page-header {
    color:black;
    font-size: 2.5rem;
    text-shadow: 2px 2px 6px #c4c4c4;
}
.admin h1, .admin h2{
    color: var(--orange);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.admin table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ee6631;
    text-align: center;
}
th {
    padding: 10px 20px;
    border: 2px solid var(--orange);
}
.admin td {
    height: 5px;
    border: 1px solid #ccc;
    row-span: 1;
    padding : 10px;
}

.admin td input.button{
    display: block;
    width: 90%;
    margin: auto;
}

.admin .page-content{
    min-width: 800px;
    width: 100%;
    margin: 20px 0 0 0 ;
    padding: 10px 0px 50px;
    border-bottom: 2px solid black;
}

.admin .add-form {
    width: 50%;
    margin: 0 auto;
}

.page-content h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 15px 0;
}
.links-list {
    padding: 0 5px;
}
.links-list li{
    margin: 10px 0;
    display: flex;
}
.links-list a{
    height: 100%;
    padding: 5px 10px;
    background-color: var(--baige);
    color: black;
    border: 1px solid black;
    align-self: center;
}
.unifac{
    margin: 50px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--orange);
    background-color: var(--baige);
    padding: 20px;
}
.unifac h1{
    color: black;
    margin-top: 20px;
}
.unifac img {
    width: 150px;
}
.unifac .desc p {
    text-align: center;
    width: 75%;
    justify-content: center;
    padding: 20px 10px;
    margin: 20px auto;
    font-size: 1.8rem;
}
.unifac .tutors {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.unifac .tutors div {
    width: 25%;
    min-width: 300px;
    border: 2px solid #ee6631;
    text-align: center;
    padding: 25px;
    margin-bottom: 25px;
}
.unifac .tutors div p{
    margin-bottom: 5px;
    font-size: 1.6rem;
}

.unifac .tutors li{
    margin-bottom: 5px;
    font-size: 1.4rem;
}

